In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
data = pd.read_csv(r'C:\Users\hp 15\Downloads\NFA 2019 public_data.csv')

C:\Users\hp 15\AppData\Local\Programs\Python\Python36-32\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
0,Armenia,1992,1,AreaPerCap,1.402924e-01,1.995463e-01,0.097188051,3.688847e-02,2.931995e-02,0.000000e+00,5.032351e-01,3A
1,Armenia,1992,1,AreaTotHA,4.830000e+05,6.870000e+05,334600,1.270000e+05,1.009430e+05,0.000000e+00,1.732543e+06,3A
2,Armenia,1992,1,BiocapPerCap,1.598044e-01,1.352610e-01,0.084003213,1.374213e-02,3.339780e-02,0.000000e+00,4.262086e-01,3A
3,Armenia,1992,1,BiocapTotGHA,5.501762e+05,4.656780e+05,289207.1078,4.731155e+04,1.149823e+05,0.000000e+00,1.467355e+06,3A
4,Armenia,1992,1,EFConsPerCap,3.875102e-01,1.894622e-01,1.26E-06,4.164833e-03,3.339780e-02,1.114093e+00,1.728629e+00,3A
...,...,...,...,...,...,...,...,...,...,...,...,...
72181,World,2016,5001,BiocapTotGHA,3.984702e+09,1.504757e+09,5.11176e+09,1.095445e+09,4.726163e+08,0.000000e+00,1.216928e+10,3A
72182,World,2016,5001,EFConsPerCap,5.336445e-01,1.402092e-01,0.273495,8.974253e-02,6.329435e-02,1.646235e+00,2.746619e+00,3A
72183,World,2016,5001,EFConsTotGHA,3.984702e+09,1.046937e+09,2.04218e+09,6.701039e+08,4.726163e+08,1.229237e+10,2.050891e+10,3A
72184,World,2016,5001,EFProdPerCap,5.336445e-01,1.402092e-01,0.273495,8.974253e-02,6.329435e-02,1.646235e+00,2.746619e+00,3A
72185,World,2016,5001,EFProdTotGHA,3.984702e+09,1.046937e+09,2.04218e+09,6.701039e+08,4.726163e+08,1.229237e+10,2.050891e+10,3A

In [4]:
data.describe()

,year,country_code,crop_land,grazing_land,fishing_ground,built_up_land,carbon,total
count,72186.000000,72186.000000,5.171400e+04,5.171400e+04,5.171300e+04,5.171300e+04,5.171300e+04,7.217700e+04
mean,1990.263154,155.618915,1.920772e+07,1.352875e+07,1.004860e+07,1.984737e+06,3.072609e+07,7.792960e+07
std,16.018761,390.261979,1.685819e+08,1.294180e+08,1.081375e+08,1.730488e+07,3.989630e+08,7.455443e+08
min,1961.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.876963e-02
25%,1977.000000,59.000000,3.581080e-01,1.948302e-01,8.005409e-02,3.786298e-02,0.000000e+00,1.894023e+00
50%,1991.000000,121.000000,3.251810e+00,9.978667e+00,6.154094e+00,2.044437e-01,0.000000e+00,8.292253e+03
75%,2004.000000,193.000000,3.610817e+06,1.734192e+06,9.450000e+05,3.867180e+05,1.915736e+01,1.532959e+07
max,2016.000000,5001.000000,3.984702e+09,3.417089e+09,2.979605e+09,4.726163e+08,1.257160e+10,2.061182e+10

In [5]:
data.isnull().sum()

country               0
year                  0
country_code          0
record                0
crop_land         20472
grazing_land      20472
forest_land       20472
fishing_ground    20473
built_up_land     20473
carbon            20473
total                 9
QScore                1
dtype: int64

In [6]:
#checks distribution of the target variable
data['QScore'].value_counts()

3A    51481
2A    10576
2B    10096
1B       16
1A       16
Name: QScore, dtype: int64

In [7]:
#Dropping all the rows with missing values
data.dropna(inplace = True)

In [8]:
data.isnull().sum()

country           0
year              0
country_code      0
record            0
crop_land         0
grazing_land      0
forest_land       0
fishing_ground    0
built_up_land     0
carbon            0
total             0
QScore            0
dtype: int64

In [9]:
#After dropping the missing rows, only three classes are left in our target variable
data['QScore'].value_counts()

3A    51473
2A      224
1A       16
Name: QScore, dtype: int64

In [10]:
#converting the problem into a binary classification problem
data.QScore = data.QScore.replace('1A', '2A')

In [11]:
data.QScore.value_counts()

3A    51473
2A      240
Name: QScore, dtype: int64

In [12]:
data.shape

(51713, 12)

In [13]:
df_2A = data[data['QScore'] == '2A']
df_3A = data[data['QScore'] == '3A'].sample(350)

In [14]:
new_data = df_2A.append(df_3A)

In [15]:
new_data.shape

(590, 12)

In [16]:
new_data.columns

Index(['country', 'year', 'country_code', 'record', 'crop_land',
       'grazing_land', 'forest_land', 'fishing_ground', 'built_up_land',
       'carbon', 'total', 'QScore'],
      dtype='object')

In [17]:
import sklearn.utils
new_data = sklearn.utils.shuffle(new_data)
new_data = new_data.reset_index(drop=True)

In [18]:
new_data.drop(['country', 'year', 'country_code'],axis = 1, inplace = True)

In [19]:
new_data.columns

Index(['record', 'crop_land', 'grazing_land', 'forest_land', 'fishing_ground',
       'built_up_land', 'carbon', 'total', 'QScore'],
      dtype='object')

In [20]:
x = new_data.drop(['QScore'], axis = 1)
y = new_data['QScore']

In [21]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
x.record = encoder.fit_transform(x.record)

In [22]:
x.dtypes

record              int32
crop_land         float64
grazing_land      float64
forest_land        object
fishing_ground    float64
built_up_land     float64
carbon            float64
total             float64
dtype: object

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state = 0)

In [25]:
#There is still an obvious imbalance
y_train.value_counts()

3A    240
2A    173
Name: QScore, dtype: int64

In [26]:
import imblearn
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=1)
x_train_balanced, y_balanced = smote.fit_sample(x_train, y_train)

In [27]:
y_balanced.value_counts()

3A    240
2A    240
Name: QScore, dtype: int64

In [28]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_train_df = pd.DataFrame(scaler.fit_transform(x_train_balanced.drop(['record'], axis = 1)),columns=x_train_balanced.drop(columns=['record']).columns)
normalised_train_df['record'] = x_train_balanced['record']

In [30]:
x_test = x_test.reset_index(drop=True)
normalised_test_df = pd.DataFrame(scaler.fit_transform(x_test.drop(['record'], axis = 1)),columns=x_test.drop(columns=['record']).columns)
normalised_test_df['record'] = x_test['record']

In [31]:
normalised_test_df.columns

Index(['crop_land', 'grazing_land', 'forest_land', 'fishing_ground',
       'built_up_land', 'carbon', 'total', 'record'],
      dtype='object')

In [32]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
log_reg.fit(normalised_train_df, y_balanced)

LogisticRegression()

In [35]:
new_prediction = log_reg.predict(normalised_test_df)

In [36]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_true=y_test, y_pred=new_prediction)
print('Accuracy: {}'.format(round(accuracy*100), 2))

Accuracy: 42.0

In [37]:
from sklearn.metrics import confusion_matrix
cfn_matrix = confusion_matrix(y_test, new_prediction, labels = ['2A', '3A'])
cfn_matrix

array([[ 66,   1],
       [101,   9]], dtype=int64)

In [38]:
from sklearn.metrics import precision_score
precision = precision_score(y_true=y_test, y_pred=new_prediction, pos_label='2A')
print('Precision: {}'.format(round(precision*100), 2))

Precision: 40.0

In [39]:
from sklearn.metrics import recall_score
recall = recall_score(y_true=y_test, y_pred=new_prediction, pos_label='2A')
print('Recall: {}'.format(round(recall*100), 2))

Recall: 99.0

In [40]:
from sklearn.metrics import f1_score
f1 = f1_score(y_true=y_test, y_pred=new_prediction, pos_label='2A')
print('F1: {}'.format(round(f1*100), 2))

F1: 56.0

In [41]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(log_reg, normalised_train_df, y_balanced, cv=5, scoring='f1_macro')
scores

array([0.45939182, 0.47712418, 0.51360905, 0.49803922, 0.50769231])

In [42]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=5)
spliting = kf.split(normalised_train_df) 
f1_scores = []
for train_index, test_index in spliting:
    train_x, test_x = normalised_train_df.iloc[train_index],normalised_train_df.iloc[test_index]
    train_y, test_y = y_balanced[train_index], y_balanced[test_index]
    log_model = LogisticRegression().fit(train_x, train_y)
    f1_scores.append(f1_score(y_true=test_y, y_pred=log_model.predict(test_x), pos_label='2A')*100)

In [43]:
f1_scores

[56.25, 49.01960784313726, 64.56692913385827, 58.06451612903226, 0.0]

In [44]:
from sklearn.model_selection import LeaveOneOut
loo = LeaveOneOut()
scores = cross_val_score(log_reg, normalised_train_df, y_balanced, cv=loo, scoring='f1_macro')
average_score = scores.mean() * 100
average_score

46.041666666666664

In [45]:
from sklearn.model_selection import StratifiedKFold
import numpy as np
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=1)
f2_scores = []
for train,test in skf.split(normalised_train_df, y_balanced):
    X_train, X_test = np.array(normalised_train_df)[train],np.array(normalised_train_df)[test]
    Y_train, Y_test  = y_balanced[train], y_balanced[test]
    reg_model = LogisticRegression().fit(X_train, Y_train)
    f2_scores.append(f1_score(y_true=Y_test, y_pred=reg_model.predict(X_test), pos_label='2A'))

In [46]:
f2_scores

[0.5818181818181819,
 0.5873015873015872,
 0.6491228070175438,
 0.5517241379310345,
 0.6037735849056604]