In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

In [2]:
energy_consumption = pd.read_csv(r'C:\Users\hp 15\Downloads\energydata_complete.csv')

In [3]:
energy_consumption.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
energy_consumption.shape

(19735, 29)

In [5]:
energy_consumption.drop(['date', 'lights'], axis = 1, inplace = True)

In [6]:
scaled_energy = MinMaxScaler()

In [7]:
Energy = pd.DataFrame(scaled_energy.fit_transform(energy_consumption),columns = energy_consumption.columns)

In [8]:
Energy.columns

Index(['Appliances', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4',
       'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9',
       'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility',
       'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

# Question 12:

In [13]:
x = Energy[['T2']]
y = Energy[['T6']]

In [14]:
train_x, test_x, train_y, test_y = train_test_split(x,y,test_size = 0.3, random_state = 42)

In [15]:
model_1 = LinearRegression()

In [16]:
model_1.fit(train_x, train_y)

LinearRegression()

In [17]:
prediction_1 = model_1.predict(test_x)

In [18]:
r2_score(test_y, prediction_1)

0.6427789637197383

In [19]:
outcome = Energy['Appliances']

In [20]:
Energy.drop(['Appliances'], axis = 1, inplace = True)

In [21]:
train_energy,test_energy,train_outcome,test_outcome = train_test_split(Energy, outcome, test_size = 0.3, random_state = 42)

In [22]:
model_2 = LinearRegression()

In [23]:
model_2.fit(train_energy, train_outcome)

LinearRegression()

In [24]:
prediction_2 = model_2.predict(test_energy)

# Question 13

In [25]:
mean_absolute_error(test_outcome, prediction_2)

0.050132856133992265

# Question 14

In [27]:
np.sum(np.square(test_outcome - prediction_2))

45.345372553548955

# Question 15

In [41]:
np.sqrt(mean_squared_error(test_outcome, prediction_2))

0.0875122714907314

# Question 16

In [47]:
r2_score(test_outcome, prediction_2)

0.14894482546274534

# Question 17

In [49]:
pd.DataFrame({'columns': train_energy.columns, 'weights': model_2.coef_})

        columns       weights
0            T1 -3.281051e-03
1          RH_1  5.535574e-01
2            T2 -2.361946e-01
3          RH_2 -4.567150e-01
4            T3  2.906326e-01
5          RH_3  9.603389e-02
6            T4  2.899615e-02
7          RH_4  2.638924e-02
8            T5 -1.566300e-02
9          RH_5  1.600706e-02
10           T6  2.364314e-01
11         RH_6  3.805687e-02
12           T7  1.031356e-02
13         RH_7 -4.458875e-02
14           T8  1.019936e-01
15         RH_8 -1.576019e-01
16           T9 -1.899264e-01
17         RH_9 -3.981379e-02
18        T_out -3.218479e-01
19  Press_mm_hg  6.845979e-03
20       RH_out -7.765200e-02
21    Windspeed  2.919410e-02
22   Visibility  1.230399e-02
23    Tdewpoint  1.177425e-01
24          rv1  2.276510e+10
25          rv2 -2.276510e+10

# Question 18

In [31]:
ridge_model = Ridge(alpha = 0.4)
ridge_model.fit(train_energy, train_outcome)

Ridge(alpha=0.4)

In [32]:
prediction_3 = ridge_model.predict(test_energy)

In [34]:
np.sqrt(mean_squared_error(test_outcome, prediction_3))

0.08753385704628004

# Question 19

In [36]:
lasso_model = Lasso(alpha = 0.001)

In [37]:
lasso_model.fit(train_energy, train_outcome)

Lasso(alpha=0.001)

In [38]:
prediction_4 = lasso_model.predict(test_energy)

In [50]:
pd.DataFrame({ 'columns': train_energy.columns, 'weights':lasso_model.coef_})

        columns   weights
0            T1  0.000000
1          RH_1  0.017880
2            T2  0.000000
3          RH_2 -0.000000
4            T3  0.000000
5          RH_3  0.000000
6            T4 -0.000000
7          RH_4  0.000000
8            T5 -0.000000
9          RH_5  0.000000
10           T6  0.000000
11         RH_6 -0.000000
12           T7 -0.000000
13         RH_7 -0.000000
14           T8  0.000000
15         RH_8 -0.000110
16           T9 -0.000000
17         RH_9 -0.000000
18        T_out  0.000000
19  Press_mm_hg -0.000000
20       RH_out -0.049557
21    Windspeed  0.002912
22   Visibility  0.000000
23    Tdewpoint  0.000000
24          rv1 -0.000000
25          rv2 -0.000000

# Question 20

In [40]:
np.sqrt(mean_squared_error(test_outcome, prediction_4))

0.09358170467245137